discord==2.3.1
pandas==2.0.3
requests==2.31.0
prettytable==3.8.0
matplotlib==3.7.2
mplfinance==0.12.9b7
jinja2==3.1.2
xhtml2pdf==0.2.11
# Build & Development needed packages
pytest>=7.2.0
pytest-cov==4.1.0
flake8==6.0.0
wheel>=0.37.1
setuptools>=40.8.0
build>=0.9.0
slack_bolt==1.18.0
bump2version @ git+https://github.com/c4urself/bump2version@bc95374d0dff73e610bed520846f88859815e532